<section class="product-card">
    <div class="product-card__container">
        <h3 class="product-card__container__title">memobento</h3>
    </div>
</section>


{% schema %}
{
  "name": "Product Card",
  "settings": [],
  "presets": [
    {
        "name" : "Product Card"
    }
  ]
}
{% endschema %}
